.footer {
  max-width: 1920px;
  width: 100%;
  max-height: 186px;
  height: 100%;
  background-color: rgb(39, 39, 39);
  // padding: 50px 0;
  font-size: 32px;
  color: #fff;
  border: solid 4px #f97247;
  border-radius: 64px 64px 0 0;

  .footer-inner {
    display: flex;
    justify-content: space-between;
    padding: 40px 10px 15px 10px;

    .footer-nav {
      display: flex;
      align-items: flex-end;
      gap: 20px;

      .nav__list li {
        margin-right: 12px;
      }
    }
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    gap: 14px;

    &__title {
      font-size: 16px;
      text-align: end;
    }

    &__icons {
      display: flex;
      gap: 8px;
    }
  }

  .nav-active {
    color: #f97247;
  }

  @media (max-width: 1200px) {
    font-size: 26px;
  }
}
