.home {
  display: flex;
  justify-content: space-between;
}

.title-btn {
  margin-top: 30px;
  font-size: 24px;
  background-color: #f97247;
  border-radius: 48px;
  padding: 20px 74px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #ebf29d;
    color: black;
  }
}

//slider //

.chips-wrap {
  max-width: 354px;
  // margin: auto;
  padding: 0 10px;
}
.sliders {
  display: flex;
}
.items-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  user-select: none;
  width: 120px;
  gap: 16px;
  // max-height: 1026px;
  max-height: 1026px;
  padding: 0 10px;
}
.items-wrap:before,
.items-wrap:after {
  content: "";
  height: 100%;
  right: 0;
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
.items-wrap:before {
  height: 150px;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(245, 241, 241, 0) 100%
  );
}
.items-wrap:after {
  height: 150px;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
.items {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  counter-reset: item;
  justify-content: space-around;
  gap: 16px;
  width: 99px;
}
.item {
  // background: #ccc;
  flex: 0 0 auto;
  width: 99px;
  height: 100px;
  counter-increment: item;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  transition: all 0.1s ease-in-out;
}

.big {
  width: 99px;
  height: 218px;
  fill: #11f8a5;
  stroke: #000000;
}
.item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.item:before {
  content: counter(item);
}

.marquee {
  animation: scroll 20s linear infinite;
}
.reverce {
  animation-direction: reverse;
}
.items-wrap:hover .marquee {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - 20px));
  }
}

//end slider //

// Blog //

.blog-wrap {
  margin-top: 130px;
}

.blog-title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.blog-slider {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  // overflow: hidden;

  // overflow-y: scroll;
  // scrollbar-color: #f97247 #e4c2e0;
  // scrollbar-width: thin;

  // overflow: auto;
  background-color: rgba($color: #ffffff, $alpha: 0.1);

  width: 535px;
  max-height: 595px;
  height: 100%;
  border: solid 3px #f97247;
  border-radius: 100px;
  padding: 24px 0 0 4px;

  --os-handle-border-radius: 50px;

  .os-scrollbar {
    width: 8px;
    background-color: rgba($color: #ffffff, $alpha: 0.12);
    cursor: pointer;
  }

  // .os-scrollbar-track {
  //   width: 8px;
  // }

  .os-scrollbar-handle {
    background: #f97247;
    padding: 0;
    width: 8px;
    height: 104px !important;
  }
  .os-theme-dark {
    --os-handle-bg-hover: #f2e79d;
    --os-handle-bg-active: #191d0a;
  }

  .os-scrollbar.os-scrollbar-vertical.os-scrollbar-cornerless,
  .os-scrollbar.os-scrollbar-vertical.os-scrollbar-cornerless.os-scrollbar-rtl {
    top: 96px;
    bottom: 96px;
    width: 8px;
    padding: 0;
    border-radius: 10px;
  }

  .os-scrollbar-vertical {
    top: 0;
    right: 15px;
  }

  // .os-scrollbar-vertical .os-scrollbar-handle {
  //   right: 15px;
  // }
}

.blog-slider::-webkit-scrollbar {
  width: 200px;
  border-radius: 50px;
}

.blog-slider::-webkit-scrollbar-button {
  border-radius: 50px;
}

// .blog-slider::-webkit-scrollbar-track {
//   scrollbar-color: #f97247 #e0e0e0;
//   scrollbar-width: thin;
// }

.blog-item {
  display: flex;
  // justify-content: center;
  align-items: center;
  // flex-direction: column;

  // text-align: center;

  // margin: 0 auto;

  width: 467px;
  height: 146px;
  border-radius: 196px;
  background-color: #311212;
  margin: 0 0 16px 15px;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.blog-item__active,
.blog-item:hover {
  background-color: #f97247;
}

.blog-item__inner {
  margin: 0 auto;
  width: 340px;
  // width: 100%;
  height: 114px;
}

.blog-item__text {
  // display: flex;
  // align-items: center;
  line-height: 28px;
  margin: auto 0;
  font-size: 24px;
  font-weight: 400;

  // letter-spacing: 0;
  // min-width: 339px;
  // max-height: 84px;
}

.blog-item__date p {
  float: left;
}
