.icon {
  // fill: transparent;
  // stroke: transparent;
  // // width: 32px;
  // // height: 32px;
}

.icon--lang {
  width: 15px;
  height: 15px;
  margin-bottom: -2px;
  fill: #ebf29d;
  // stroke: #f97247;
}

.icon--fishka {
  width: 99px;
  height: 99px;
  fill: #ebf29d;
  stroke: #f97247;
}

.icon--soccer {
  width: 99px;
  height: 99px;
  fill: #ebf29d;
  stroke: #000000;
}

.icon--soccer-right {
  fill: #ffffff;
}

.icon--logo__coin {
  width: 99px;
  height: 99px;
  fill: #da7db5;
  stroke: #000000;
}

.icon--logo__coin-mid {
  fill: #ffffff;
}

.icon--timer {
  fill: #da7db5;
}

.icon--crown {
  fill: #ffffff;
  stroke: #000000;
}

.icon--crown-big {
  width: 99px;
  height: 218px;
  fill: #ffffff;
  stroke: #000000;
}

.icon--world {
  width: 99px;
  height: 218px;
  fill: #11f8a5;
}

.icon--logo__coin-left {
  fill: #11f8a5;
}

.icon--twitter {
  width: 13px;
  height: 12px;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  fill: #191d0a;
  transition: all ease-in-out 0.3s;

  &:hover {
    fill: #ebf29d;
  }
}

.icon--linkedin {
  width: 12px;
  height: 12px;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  fill: #191d0a;
  transition: all ease-in-out 0.3s;

  &:hover {
    fill: #ebf29d;
  }
}

.icon--youtube {
  width: 13px;
  height: 19px;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  fill: #191d0a;
  transition: all ease-in-out 0.3s;

  &:hover {
    fill: #ebf29d;
  }
}

.icon--tiktok {
  width: 10px;
  height: 12px;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  fill: #191d0a;
  transition: all ease-in-out 0.3s;

  &:hover {
    fill: #ebf29d;
  }
}

.icon--telegram {
  width: 16px;
  height: 18px;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  fill: #191d0a;
  transition: all ease-in-out 0.3s;

  &:hover {
    fill: #ebf29d;
  }
}

.wrap-icon__nav {
  max-width: 32px;
  max-height: 32px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon--vk {
  width: 13px;
  height: 8px;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  fill: #191d0a;
  transition: all ease-in-out 0.3s;

  &:hover {
    fill: #ebf29d;
  }
}

.icon--bg {
  width: 32px;
  height: 32px;
  transition: all ease-in-out 0.3s;

  fill: #f97247;

  &:hover {
    fill: #ebf29d;
  }
}

.icon--id-card-line {
  fill: rgb(51, 51, 51);
}
.icon--search-line {
  fill: rgb(28, 176, 80);
}

.icon--user-star {
  fill: rgb(26, 134, 235);
}

.icon--user {
  stroke: rgb(26, 134, 235);
  transition: all 0.2s ease-in;

  &:hover {
    stroke: rgb(17, 193, 90);
  }
}

.big__coin {
  width: 99px !important;
  height: 218px !important;
  fill: #11f8a5;
  stroke: #000000;
}
