.icon {
  fill: transparent;
  stroke: transparent;
  width: 32px;
  height: 32px;
}

.icon--lang {
  width: 15px;
  height: 15px;
  margin-bottom: -2px;
  fill: #ebf29d;
  // stroke: #f97247;
}

.icon--id-card-line {
  fill: rgb(51, 51, 51);
}
.icon--search-line {
  fill: rgb(28, 176, 80);
}

.icon--user-star {
  fill: rgb(26, 134, 235);
}

.icon--user {
  stroke: rgb(26, 134, 235);
  transition: all 0.2s ease-in;

  &:hover {
    stroke: rgb(17, 193, 90);
  }
}
